.example:hover{
    background-color: #22607d !important;
}
.example{
    background-color: #094e6f;
}

.logo{
    width: 150px;
    padding-bottom: 20px;
}

.card{
    max-width: 900px;
    padding: 20px 5px; 
    margin: 0 auto;
    align-items: center;
    text-align: center
}