.mainGrid{
    margin: auto;
    margin-top: 20vh;
    width: 450px;
}

.logo{
    width: 150px;
    padding-bottom: 20px;
}

.card{
    max-width: 450px;
    padding: 20px 5px; 
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    
}