#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profileContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profileContainer img {
    width: 150px;
    height: 150px;
}
